<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Orders</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="index.css">  
</head>
 
<body>
<!--  NAVBAR  -->
<div class="navbar">
	<a href="/">BULL.EX</a>
</div>
<!--  NAVBAR  -->
 
<!--  CONTENT  -->
<div class="index-splash"> 
    <h1>TRADE WITH CONFIDENCE</h1>
    <p> We are committed to providing a secure and transparent trading environment, ensuring your transactions are always safe and secure. Join us today and experience the power of forex trading. </p>
	<div class="btn-area">
		<form action="register" method="get">
	        <button class="signup-btn" type="submit">SIGN UP</button>
		</form>
		<form action="login" method="get">
		    <button class="login-btn" type="submit">LOGIN</button>
		</form>
	</div>
</div>
<!--  CONTENT  -->
</body>
</html>